---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Education from '../components/Education.astro';
import Proyecto from "../components/Proyectos.astro"
import ButtonInfo from '../components/ButtonInfo.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Tools from '../icons/Tools.astro';
import Header from "../components/Header.astro"
import Footer from '../components/Footer.astro';
import SobreMi from "../components/SobreMi.astro"
import ButtonFloat from '../components/ButtonFloat.astro';
import CardRecorrido from '../components/CardRecorrido.astro';

//icons
import Book from '../icons/Book.astro';
import Case from '../icons/Case.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Mail from '../icons/Mail.astro';
import Behance from '../icons/Behance.astro';
import Person from '../icons/Person.astro';


1


---
<Layout>

    <!-- <ButtonInfo href="/" >Volver al inicio</ButtonInfo> -->
    <ButtonFloat class="size-9"></ButtonFloat>

    <div class="finisher-design fixed top-0 left-0 z-[-2] w-full h-screen bg-white"></div>


    <div class="flex justify-center">
        <Header class="mt-8 font-light border-2 border-[#323232] bg-[#acacac]/30 backdrop-blur-xs text-xs fixed space-x-4 rounded-full p-4.5 py-1.5 z-50 text-black"></Header>
    </div>


    <Section class="pb-60 pt-60 max-w-[700px] justify-between flex w-full mx-auto max-md:flex-col max-md:p-6">
        
        <img src="/Trupiano-foto.png" alt="" class="h-50 w-50 object-cover rounded-full mb-5">

        <div>
            <span class="max-lg:flex-col font-bebas flex max-md:text-4xl text-7xl font-bold gap-x-10 gap-y-4 text-shadow-lg">SOY</span>
            <h1 class="max-lg:flex-col font-bebas flex max-md:text-4xl text-7xl font-bold gap-x-10 gap-y-4 text-[#323232] text-shadow-lg">
                Elian Trupiano 
            </h1>
            <h2 class="max-lg:flex-col font-bebas flex max-md:text-4xl text-7xl font-bold gap-x-10 gap-y-4 pb-4 text-shadow-lg">DISEÑADOR DIGITAL</h2>

            <div class="bg-[#323232] h-12 rounded-full">

            </div>
        </div>

    </Section>

    <!-- <div class="bg-linear-to-br from-[#323232] to-[#010101] h-auto">
        <Section id="tecnologias" class="py-20 max-w-[1400px] max-md:max-w-[700px] mx-auto">
            <h2 class="flex font-bebas items-center gap-x-2 text-4xl font-semibold mb-20 justify-center text-center">
                RECORRIDO
            </h2>

            <div class="flex flex-col justify-between space-y-8">
                <div class="self-start">
                    <CardRecorrido image="/proyectos/p01.webp" alt="Proyecto 1"> 
                        <p>Comencé en 2021 a dar mis primeros pasos como autodidacta en Photoshop CS6.</p>
                        <p>Un chico curioso que le apasionaba el arte, encontró su pasión por el diseño.</p>
                        <p>En un principio, ayudaba a streamers/youtubers, haciendo miniaturas de videos, iconos , emoticones para sus canales de streaming, flyers y otras cosas.</p>
                    </CardRecorrido>
                </div>
                <div class="self-end">
                    <CardRecorrido image="/proyectos/p02.webp" alt="Proyecto 1"> 
                        <p>Junto al inicio de mis estudios como Desarrollador Web en 2023, comencé a investigar el mundo del UX/UI, para mejorar mis habilidaes en ambas areas combinadas.</p>
                        <p>Así empecé a diseñar páginas webs, desde mi vista de diseño, sumandole mi nuevo conocimiento, orientaba mis proyectos de una manera inclusiva para ambas destrezas.</p>
                    </CardRecorrido>
                </div>
            </div>
        </Section>
    </div> -->

    <Footer></Footer>
</Layout>