---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Education from '../components/Education.astro';
import Proyecto from "../components/Proyectos.astro"
import ButtonInfo from '../components/ButtonInfo.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Tools from '../icons/Tools.astro';
import ButtonFloar from '../components/ButtonFloar.astro';

//icons
import Book from '../icons/Book.astro';
import Case from '../icons/Case.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Mail from '../icons/Mail.astro';
import Behance from '../icons/Behance.astro';


---

<Layout>
    <main class="p-6">
        <Section class="pb-30 pt-30 max-w-[700px] w-full mx-auto px-4">
            <div class="flex items-center">
                <img src="/Trupiano-foto.png" alt="" class="h-30 w-30 object-cover rounded-full mb-10">
            </div>


                <h1 class="max-lg:flex-col flex text-5xl font-bold gap-x-10 gap-y-4 pb-4">
                    Elian Trupiano 
                    <div class="flex items-center">
                        <a class="flex items-cente transition-transform duration-300 lg:hover:scale-110" target="_blank" href="https://www.linkedin.com/in/elian-trupiano-3b2a78253/"><Badge>Disponible para trabajar</Badge></a> 
                    </div>
                </h1>     
                <p class="text-lg pb-5">+2 años de experiencia como <span class="text-[#51D8F3]">Desarrollador Front-end</span> y +4 años como <span class="text-[#51D8F3]">Diseñador gráfico</span>, hoy puedo combinar mis habilidades para ofrecerte la solución a tu problema</p>       
        
                <ul class="flex gap-x-5">
                    <div class="gap-5 max-lg:flex-col flex">
                        <li>
                            <a href="https://github.com/Trupiis" target="_blank" class="flex gap-x-2.5 bg-gray-900 p-2.5 rounded-lg">
                            <GitHub />
                            <span>GitHub</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/elian-trupiano-3b2a78253/" target="_blank" class="flex gap-x-2.5 bg-gray-900 p-2.5 rounded-lg">
                            <LinkedIn/>
                            <span>LinkedIn</span>
                            </a>
                        </li>
                    </div>

                <div class="gap-5 max-lg:flex-col flex">
                    
                    <li>
                        <a href="https://www.behance.net/elitrupi" target="_blank" class="inline-flex gap-x-2.5 bg-gray-900 p-2.5 rounded-lg">
                            <Behance/>
                            <span>Behance</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="mailto:eliantrupianodg@gmail.com"  class="flex gap-x-2.5 bg-gray-900 p-2.5 rounded-lg">
                            <Mail/>
                            <span>Eliantrupianodg@gmail.com</span>
                        </a>
                    </li>
                </div>

                </ul>
            </Section>

            <Section id="tecnologias" class="py-20 max-w-[1000px] mx-auto">
            <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-20 justify-center text-center">
                <Tools class="size-9"></Tools>
                Tecnologias
            </h2>
                <Tecnologias></Tecnologias>
            </Section>



        <!-- <Section id="educacion" class="py-20 max-w-[750px] mx-auto" >
            <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-10">
                <Book class="size-9"></Book>
                Educación
            </h2>

            <Education></Education>
        </Section> -->

        <Section id="proyectos" class="py-20 max-w-[1000px]">
            <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-20 justify-center text-center">
                <Case class="size-9"></Case>
                Proyectos
            </h2>
            <Proyecto></Proyecto>
        </Section>

        <ButtonFloar class="size-9"></ButtonFloar>
        
    </main>
</Layout>
