---
const {
  parrafos = [],
  image,
  alt = "",
} = Astro.props;
---

<div class="border-2 border-white h-auto w-[900px] rounded-2xl p-10 flex items-center space-x-10 space-y-5 justify-start mb-10">
  <div class="space-y-5 w-[50%]">
    <slot>
  </div>

  <div class="space-y-5 w-[50%]">
    <img src={image} alt={alt} class="rounded-2xl">
  </div>
</div>
