---
import LinkedIn from "../icons/LinkedIn.astro"
import Mail from "../icons/Mail.astro"
import Phone from "../icons/Phone.astro"
---

<div class="flex-col space-y-20 text-center">
        <div class="grid grid-cols-3 max-md:grid-cols-1 max-md:space-y-20">
            <div class="text-center">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=eliantrupianogg@gmail.com&su=¡Hola Elian, me interesa trabajar con vos!" target="_blank" class="w-20 h-20 mx-auto mb-6 rounded-full border-2 shadow-md border-[#51D8F3] flex items-center justify-center">
                    <Mail></Mail>
                </a>
        
                <h3 class="text-lg font-semibold mb-4 text-white">Correo Electrónico</h3>
                    
                <div class="text-white font-medium space-y-1">Eliantrupianogg@gmail.com</div>
            </div>
        
            <div class="text-center">
                <a href="https://api.whatsapp.com/send?phone=541135996947&text=%C2%A1Hola%20Elian!%0A%C2%BFPodemos%20conversar%3F" target="_blank" class="w-20 h-20 mx-auto mb-6 rounded-full border-2 shadow-md border-[#51D8F3] flex items-center justify-center">
                    <Phone></Phone>
                </a>
        
                <h3 class="text-lg font-semibold mb-4 text-white">Número de teléfono</h3>
                    
                <div class="text-white font-medium space-y-1">+54 11 3599-6947</div>
            </div>
        
            <div class="text-center">
                <a href="https://www.linkedin.com/in/elian-trupiano-3b2a78253/" target="_blank" class="w-20 h-20 mx-auto mb-6 rounded-full border-2 shadow-md border-[#51D8F3] flex items-center justify-center">
                    <LinkedIn></LinkedIn>
                </a>
        
                <h3 class="text-lg font-semibold mb-4 text-white">LinkedIn</h3>
                    
                <div class="text-white font-medium space-y-1">Elian Trupiano</div>
            </div>
        </div>

        <div>
            <p class="text-xs">® 2025 Elian Trupiano</p>
        </div>
</div>
