---
import EducationItem from "./EducationItem.astro"
const EDUCATION = [
    {
        date: "2022",
        title: "Udemy",
        description: "Photoshop, Illustrator, Canva y Figma"

    },
    {
        date: "2023",
        title: "CoderHouse",
        description: "Desarrollo Web Front-End"

    },
    {
        date: "2024",
        title: "CoderHouse",
        description: "Desarrollo Web Front-Backend"

    },
    {
        date: "2025",
        title: "RuvaAcademy",
        description: "Optimiza tu trabajo con IA - Design Turbo IA"

    }
]
---


    <ol class="items-center sm:flex ">
        {
            EDUCATION.map(education => (
                <li>
                    <EducationItem {...education}/>
                </li>
            ))
        }
    </ol>
