<footer class="bg-gray-900 shadow-sm w-screen">
  <div class="max-w-7xl mx-auto p-6 flex flex-col md:flex-row items-center justify-between gap-4 md:gap-0">
      <span class="text-sm text-white sm:text-center">© 2025 Derechos reservados por Elian Trupiano.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
        <li>
            <a href="/" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#educacion" class="hover:underline me-4 md:me-6">Educación</a>
        </li>
        <li>
            <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="mailto:eliantrupianodg@gmail.com" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
