<header class="flex justify-center items-center mt-10 p-4 pl-6 pr-6 border-2 rounded-full mb-20">
    <nav class="flex gap-x-10 text-xl">
        <a href="#top" class="hover:text-[#51D8F3] duration-100 ease-linear hover:scale-110">Inicio</a>
        <a href="#educacion" class="hover:text-[#51D8F3] duration-200 ease-linear hover:scale-110">Educación</a>
        <a href="#proyectos" class="hover:text-[#51D8F3] duration-200 ease-linear hover:scale-110">Proyectos</a>
        <a href="#contacto" class="hover:text-[#51D8F3] duration-200 ease-linear hover:scale-110">Contacto</a>
    </nav>
</header>