<header class="header-mecha flex justify-center items-center mt-10 p-4 px-6 rounded-full mb-10">
    <nav class="flex gap-x-6 text-md">
        <a href="#top" class="hover:text-[#51D8F3] duration-100 ease-linear hover:scale-105">Inicio</a>
        <a href="#educacion" class="hover:text-[#51D8F3] duration-100 ease-linear hover:scale-105">Educación</a>
        <a href="#proyectos" class="hover:text-[#51D8F3] duration-100 ease-linear hover:scale-105">Proyectos</a>
        <a href="mailto:eliantrupianodg@gmail.com" class="hover:text-[#51D8F3] duration-100 ease-linear hover:scale-105">Contacto</a>
    </nav>
</header>