---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import JS from "../icons/JS.astro"
import NEXT from "../icons/NEXT.astro"
import REACT from "../icons/REACT.astro"
import TAILWIND from "../icons/TAILWIND.astro"
import NODE from "../icons/NODE.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Mongo from "../icons/Mongo.astro"
import PS from "../icons/PS.astro"
import AI from "../icons/AI.astro"
import Figma from "../icons/Figma.astro"

---

<div class="logos flex-col m-auto max-w-[1200px] overflow-hidden whitespace-nowrap relative" id="logos">
    <div id="logos-slide" class="logos-slide aniamte-slide-neg inline-flex gap-10 animate-slide">
        <HTML class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <CSS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <JS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NEXT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <REACT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <TAILWIND class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NODE class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AstroIcon class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Mongo class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <PS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AI class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Figma class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        
        <HTML class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <CSS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <JS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NEXT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <REACT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <TAILWIND class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NODE class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AstroIcon class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Mongo class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <PS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AI class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Figma class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        
        <HTML class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <CSS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <JS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NEXT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <REACT class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <TAILWIND class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <NODE class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AstroIcon class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Mongo class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <PS class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <AI class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
        <Figma class="size-38 flex-shrink-0 border-2 border-[#51D8F3] p-8 rounded-xl bg-[#2a2a2a]" />
    
    </div>
</div>

<script src="../js/app.js"></script>