---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import JS from "../icons/JS.astro"
import NEXT from "../icons/NEXT.astro"
import REACT from "../icons/REACT.astro"
import TAILWIND from "../icons/TAILWIND.astro"
import NODE from "../icons/NODE.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Mongo from "../icons/Mongo.astro"
import PS from "../icons/PS.astro"
import AI from "../icons/AI.astro"
import Figma from "../icons/Figma.astro"

---

<div class="logos flex-col m-auto max-w-[1200px] overflow-hidden whitespace-nowrap relative" id="logos">
    <div id="logos-slide" class="logos-slide aniamte-slide-neg inline-flex gap-10 animate-slide">

        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <HTML class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">HTML</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <CSS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">CSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <JS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">JS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NEXT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NextJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <REACT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">React</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <TAILWIND class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">TailwindCSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NODE class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NodeJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AstroIcon class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Astro</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Mongo class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">MongoDB</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <PS class="size-32"/>
            <span class="mb-2 font-base">Adobe Photoshop</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AI class="size-32  "/>
            <span class="mb-2 font-base">Adobe Illustrator</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Figma class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Figma</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <HTML class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">HTML</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <CSS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">CSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <JS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">JS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NEXT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NextJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <REACT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">React</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <TAILWIND class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">TailwindCSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NODE class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NodeJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AstroIcon class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Astro</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Mongo class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">MongoDB</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <PS class="size-32"/>
            <span class="mb-2 font-base">Adobe Photoshop</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AI class="size-32  "/>
            <span class="mb-2 font-base">Adobe Illustrator</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Figma class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Figma</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <HTML class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">HTML</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <CSS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">CSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <JS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">JS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NEXT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NextJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <REACT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">React</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <TAILWIND class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">TailwindCSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NODE class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NodeJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AstroIcon class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Astro</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Mongo class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">MongoDB</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <PS class="size-32"/>
            <span class="mb-2 font-base">Adobe Photoshop</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AI class="size-32  "/>
            <span class="mb-2 font-base">Adobe Illustrator</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Figma class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Figma</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <HTML class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">HTML</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <CSS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">CSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <JS class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">JS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NEXT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NextJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <REACT class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">React</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <TAILWIND class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">TailwindCSS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <NODE class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">NodeJS</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AstroIcon class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Astro</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Mongo class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">MongoDB</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <PS class="size-32"/>
            <span class="mb-2 font-base">Adobe Photoshop</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <AI class="size-32  "/>
            <span class="mb-2 font-base">Adobe Illustrator</span>
        </div>
        <div class="border-2 border-[#51D8F3] rounded-xl p-5 space-y-4 bg-[#171717]/30 backdrop-blur-xs text-center ">
            <Figma class="size-32 flex-shrink-0 "/>
            <span class="mb-2 font-base">Figma</span>
        </div>
        

    
    </div>
</div>

<script src="../js/app.js"></script>