<div class="flex align-middle items-center space-x-20">
    <img src="../Foto-Hero.png" class="w-100 drop-shadow-xl shadow-white " alt="Foto de Elian Trupiano">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, nobis!</p>
</div>